$blue: #0071AD;
$blueLight: #4DA7FD;
$orange: #FF7F00;
$blackLight: #333333;
$white: #FFFFFF;
$grayL: #9D9D9D;


//$renault: 'Renault', Arial, sans-serif;
//$renoReg: 'Renault', Arial, sans-serif;
//$renoLight: 'renoLight', Arial, sans-serif;
//$renoBold: 'renoBold', Arial, sans-serif;

$desktopL: 1920px;
$desktop: 1440px;
$notebook: 1025px;
$tablet: 769px;
$mobileB: 481px;
$mobile: 361px;


