include ../templates/bemto/bemto


-
    const pageSettings = {
        title: '',
        useSocialMetaTags: false
    }

-const jv0 = 'javascript:void(0)';

block vars

doctype html

html(lang='ru')
    include ../templates/head

    body
        .wrapper
            block content


    script(src="https://cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.9/svg4everybody.js")
    script(src="https://polyfill.io/v3/polyfill.min.js?features=Intl%2Cblissfuljs%2Cdefault%2Ces2015%2Ces2016%2Ces2017%2Ces5%2Ces6%2Ces7%2CArray.prototype.forEach")
    script(src="./js/app.js")
